<router-outlet></router-outlet>
<div class="card">
    <nav id="servicesnav" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h1 id="serviceshead">Food Menu</h1>
    </nav>

    <section class="slide">

        <div class="food">
            <div class="scard" style="width: 11rem;">
                <img src="assets/Plain dosa.jfif" class="card-img-top" alt="food-image">
                <div class="card-body">
                    <h5 class="card-title">Plain Dosa</h5>
                    <!-- <p class="card-text">Some quick example text .</p> -->

                </div>
            </div>

            <div class="scard" style="width: 11rem;">
                <img src="assets/Idli.jfif" class="card-img-top" alt="food-image">
                <div class="card-body">
                    <h5 class="card-title">Idli</h5>

                </div>
            </div>

            <div class="scard" style="width: 11rem;">
                <img src="assets/uttapam.jfif" class="card-img-top" alt="food-image">
                <div class="card-body">
                    <h5 class="card-title">Uttapam</h5>

                </div>
            </div>

            <div class="scard" style="width: 11rem;">
                <img src="assets/cut dosa.jfif" class="card-img-top" alt="food-image">
                <div class="card-body">
                    <h5 class="card-title">Cut Dosa</h5>

                </div>
            </div>

        </div>
        <!-- food div close -->
        <div class="food">
            <div class="scard" style="width: 11rem;">
                <img src="assets/poha.jfif" class="card-img-top" alt="food-image">
                <div class="card-body">
                    <h5 class="card-title">Poha</h5>

                </div>
            </div>

            <div class="scard" style="width: 11rem;">
                <img src="assets/masala dosa.jfif" class="card-img-top" alt="food-image">
                <div class="card-body">
                    <h5 class="card-title">Masala Dosa</h5>


                </div>
            </div>

            <div class="scard" style="width: 11rem;">
                <img src="assets/samosa.jfif" class="card-img-top" alt="food-image">
                <div class="card-body">
                    <h5 class="card-title">Samosa</h5>


                </div>
            </div>
        </div>
        <!-- food div close -->
    </section>
</div>
<hr>